version: '3.8'

services:
  frontend:
    build:
      context: ./client
    ports:
      - "80:3000"
    environment:
      - REACT_APP_API_URL=http://backend:5001
    depends_on:
      - backend

  backend:
    build:
      context: ./server
    ports:
      - "5001:5001"
    env_file:
      - ./server/.env
    depends_on:
      - mongo

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
